.card {
    width: 255px;
    height: 290px;
    margin: 5px;
    background: #dddddd;
    border-radius: 24px;
    padding: 24px;
    overflow: hidden;
}

.title {
    color: #22215B;
    font-size: 20px;
}

.description {
    padding: 10px 0;
    color: #22215B80;
    font-size: 14px;
    height: 140px;
}

.author {
    font-size: 13px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.info span {
    font-weight: 600;
    color: #22215B;
}

.btn {
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 400;
    background: #ffffff;
    color: #22215B;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.card:hover {
    box-shadow: 0px 0px 5px 0px #00000080;
}