* {
    box-sizing: border-box;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header .logo {
    margin: 0;
    padding: 0px 35px;
    font-size: 1.45em;
}

.header .main-nav {
    margin: 0px 40px;

}

.header .main-nav a {
    color: #000000;
    font-size: .99em;
}

.header .main-nav a:hover {
    color: #ffffff;
}

.header {
    width: 100%;
    height: fit-content;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid black;
    background: linear-gradient(50deg, rgba(128, 255, 114, 1) 0%, rgba(126, 232, 250, 1) 100%);
}

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        flex-direction: column;
        align-items: center;

        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (max-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}