* {
    box-sizing: border-box;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.header h2,
.header h3,
.header a {
    color: #34495e;
}

.header a {
    text-decoration: none;
}

.header .logo {
    margin: 0;
    padding: 0px 35px;
    font-size: 1.45em;
}

.header .main-nav {
    margin: 0px 40px;

}

.header .logo a,
.header .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header .main-nav a {
    color: #34495e;
    font-size: .99em;
}

.header .main-nav a:hover {
    color: #718daa;
}

.header {
    width: 100%;
    height: fit-content;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid black;
    background-color: #f3f3f3;
}

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        flex-direction: column;
        align-items: center;

        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (max-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}